<%= javascript_include_tag("instructor.js") %>

<h1>Manage Assignment</h1>

<%= form_for @assessment, :url => manage_path do |f| %>
	<%= f.label(:name) %>
	<%= f.text_field(:name) %>
	<br>

	<%= f.label(:submit_limit, 'Number of submissions') %>
	<%= f.number_field(:submit_limit) %>
	<br>

	<%= f.file_field(:attachment) %>
	<br>

	<%= f.submit %>
<% end %>